html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
  }

  main {
    flex: 1;
    margin: 32px 16px; /* Top/bottom: 32px, Left/right: 16px */
  }

  footer {
    text-align: center;
    margin: 0 16px;     /* Left/right: 16px to match main */
    padding: 1rem 0;     /* Only vertical padding to avoid extra horizontal space */
  }


.custom-bg {
  background-color: #6b6d6a;
  color: white;
  padding: 1rem;
  margin-bottom: 1.5rem;
  width: 100%;
  border-radius: 0.5rem;
}


.partner-section {
  margin: 32px 16px;
  overflow: hidden;
}

.partner-slider {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.partner-track {
  display: flex;
  gap: 32px;
  animation: scrollPartners 20s linear infinite;
}

.partner-track img {
  height: 80px;
  object-fit: contain;
}

@keyframes scrollPartners {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}
